<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="Tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">Event</directory>
            <directory suffix=".php">EventListener</directory>
            <directory suffix=".php">Form</directory>
            <directory suffix=".php">Helper</directory>
            <directory suffix=".php">Integration</directory>
        </include>
    </coverage>
</phpunit>
